node-red/gráficos.json
[
    {
        "id": "7ace9e43acaf6252",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0b8435a2b822750",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "51bcefe2b18c5ab4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 120,
                "sy": 120,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Dashboard Hotéis",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Gráfico Hotéis",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc087c3777f7069e",
        "type": "ui_tab",
        "name": "Relatórios ISI",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c53ac0f88cf8d2f4",
        "type": "ui_group",
        "name": "Dashboard Principal",
        "tab": "dc087c3777f7069e",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d77fe4768b6ec566",
        "type": "file in",
        "z": "7ace9e43acaf6252",
        "name": "Leitura CSV Hotéis",
        "filename": "C:\\Users\\Diogo Machado\\Documents\\GitHub\\ISI\\\\data\\\\output\\\\hoteis_totais.csv",
        "filenameType": "str",
        "format": "utf8",
        "sendError": false,
        "allProps": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "514015e89c5b498a"
            ]
        ]
    },
    {
        "id": "514015e89c5b498a",
        "type": "csv",
        "z": "7ace9e43acaf6252",
        "name": "Converter CSV → JSON (Hotéis)",
        "sep": ",",
        "hdrin": true,
        "multi": "mult",
        "ret": "\\n",
        "strings": true,
        "x": 660,
        "y": 300,
        "wires": [
            [
                "be4c80b3e1704886"
            ]
        ]
    },
    {
        "id": "be4c80b3e1704886",
        "type": "function",
        "z": "7ace9e43acaf6252",
        "name": "Preparar dados (Hotéis)",
        "func": "let data = msg.payload;\n\nmsg.payload = [\n  {\n    series: [\"Total Recebido\"],\n    data: [data.map(d => parseFloat(d.total_hotel))],\n    labels: data.map(d => d.nome_hotel.trim())\n  }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 300,
        "wires": [
            [
                "566376d3b8395ad5"
            ]
        ]
    },
    {
        "id": "566376d3b8395ad5",
        "type": "ui_chart",
        "z": "7ace9e43acaf6252",
        "name": "Gráfico Receitas por Hotel",
        "group": "c53ac0f88cf8d2f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Receita total por hotel",
        "chartType": "bar",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Sem dados",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1220,
        "y": 300,
        "wires": [
            [
                "610e76994dc4c3a3"
            ]
        ]
    },
    {
        "id": "403d86f4dd54bc2c",
        "type": "file in",
        "z": "7ace9e43acaf6252",
        "name": "Leitura CSV Clientes",
        "filename": "C:\\Users\\Diogo Machado\\Documents\\GitHub\\ISI\\\\data\\\\output\\\\clientes_totais.csv",
        "filenameType": "str",
        "format": "utf8",
        "sendError": false,
        "allProps": false,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "e05c02545faf4d2a"
            ]
        ]
    },
    {
        "id": "e05c02545faf4d2a",
        "type": "csv",
        "z": "7ace9e43acaf6252",
        "name": "Converter CSV → JSON (Clientes)",
        "sep": ",",
        "hdrin": true,
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "6d5efb2de786b206"
            ]
        ]
    },
    {
        "id": "6d5efb2de786b206",
        "type": "function",
        "z": "7ace9e43acaf6252",
        "name": "Preparar dados (Clientes)",
        "func": "let data = msg.payload;\n\nmsg.payload = [\n  {\n    series: [\"Total Gasto\"],\n    data: [data.map(d => parseFloat(d.total_gasto))],\n    labels: data.map(d => {\n      // Se nome for nulo, indefinido ou vazio → \"Cliente Inválido\"\n      if (!d.nome_cliente || d.nome_cliente.trim() === \"\") {\n        return \"Clientes Inválidos\";\n      }\n      return d.nome_cliente.trim();\n    })\n  }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 420,
        "wires": [
            [
                "dc8a8c93b36fe0fa"
            ]
        ]
    },
    {
        "id": "dc8a8c93b36fe0fa",
        "type": "ui_chart",
        "z": "7ace9e43acaf6252",
        "name": "Gráfico Total por Cliente",
        "group": "c53ac0f88cf8d2f4",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Total gasto por cliente",
        "chartType": "bar",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Sem dados",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1220,
        "y": 420,
        "wires": [
            [
                "6614b9a7451a44aa"
            ]
        ]
    },
    {
        "id": "610e76994dc4c3a3",
        "type": "function",
        "z": "7ace9e43acaf6252",
        "name": "Dados gráfico hoteis",
        "func": "let fileData = JSON.stringify(msg.payload, null, 2);\nmsg.payload = fileData;\nmsg.filename = \"C:\\\\Users\\\\Diogo Machado\\\\Documents\\\\GitHub\\\\ISI\\\\data\\\\output\\\\grafico_hoteis.json\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 300,
        "wires": [
            [
                "f7c24784ad9bd9cc"
            ]
        ]
    },
    {
        "id": "f7c24784ad9bd9cc",
        "type": "file",
        "z": "7ace9e43acaf6252",
        "name": "Escreve ficheiro JSON com dados do gráfico de hoteis",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6614b9a7451a44aa",
        "type": "function",
        "z": "7ace9e43acaf6252",
        "name": "Dados gráfico clientes",
        "func": "let fileData = JSON.stringify(msg.payload, null, 2);\nmsg.payload = fileData;\nmsg.filename = \"C:\\\\Users\\\\Diogo Machado\\\\Documents\\\\GitHub\\\\ISI\\\\data\\\\output\\\\grafico_clientes.json\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 420,
        "wires": [
            [
                "b99eb9b45b1cdeab"
            ]
        ]
    },
    {
        "id": "b99eb9b45b1cdeab",
        "type": "file",
        "z": "7ace9e43acaf6252",
        "name": "Escreve  ficheiro JSON com dados do gráfico de clientes",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1970,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "daa040a06e353e12",
        "type": "http in",
        "z": "7ace9e43acaf6252",
        "name": "",
        "url": "/api/graficos",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "d77fe4768b6ec566",
                "403d86f4dd54bc2c",
                "9fac7cfed3654e52"
            ]
        ]
    },
    {
        "id": "9fac7cfed3654e52",
        "type": "http response",
        "z": "7ace9e43acaf6252",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "4929d1ece72751c1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]